.navbar {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 100%; 
  }
  
  .navbar a {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-decoration: none;
    font-size: 18px; 
    transition: background-color 0.3s ease; 
    color: white;
  }
  
  .navbar a:hover {
    border-radius: 5px; 
    color: rgb(240, 167, 10);
    padding: 8px 0px;
  }
  


