.contatti-section {  
    background-color: #0a192f; /* Colore di sfondo */  
    color: white; /* Colore del testo */  
    padding: 40px;  
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

 
}  

h2 {  
    font-size: 2.5rem; /* Dimensione del titolo */  
    margin-bottom: 10px; /* Spaziatura sotto il titolo */  
}  

p {  
    font-size: 1.2rem; /* Dimensione del sottotitolo */  
    margin-bottom: 30px; /* Spaziatura sotto il sottotitolo */  
}  

.contact-info {  
    display: flex;  
    flex-direction: column;  
    align-items: flex-start;
}

.contact-item {  
    display: flex; /* Usato per allineare l'icona e il testo */  
    align-items: center;  
    color: white;  
    text-decoration: none; /* Rimuove la sottolineatura dei link */  
    margin: 10px 0; /* Spaziatura tra i contatti */  
    transition: color 0.3s; /* Transizione per l'effetto hover */  
}  

.contact-item:hover {  
    color: rgba(255, 255, 255, 0.7); /* Colore del testo all'hover */  
}  

.contact-item img {  
    margin-right: 10px; /* Spaziatura tra l'icona e il testo */  
    width: 24px; /* Imposta una larghezza per le icone */  
    height: 24px; /* Imposta un'altezza per le icone */  
}  