.progetti-container {
  padding: 50px;
  background-color: #FAF3E0;
}

.progetti-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.progetti-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  max-width: 1400px; 
  margin: 0 auto;
}



.progetto-card {
  background-color: #F3E5AB;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.progetto-card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.progetto-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.progetto-info {
  padding: 20px;
}

.progetto-info h3 {
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

.progetto-info p {
  font-size: 14px;
  margin-bottom: 15px;
  color:black;
}

.progetto-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.stack-item {
  background-color: #FAF3E0;
  color: black;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
}

.progetto-links {
  display: flex;
  justify-content: space-between;
}

.progetto-btn:hover {
  background-color: #FAF3E0;
}

.toggle-btn {
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.toggle-btn:hover {
  color: #FAF3E0;
}



